.container-fluid

  %table.table
    %thead
      %tr
        %th.text-left Name
        %th.text-center{width: 100} Events
    %tbody
      - @streams.each do |stream|
        %tr
          %td
            = link_to stream_path(stream) do
              = stream.name
          %td.text-center
            = link_to events_path(stream: stream) do
              = number_with_delimiter(stream.events.count)
