#chart-event-trend {
  @include box-shadow(inset 0px 0px 5px #999);
  background: #f7f7f7;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 0px 0px;
  height: 150px;
  padding: 0;
}

.chart {
  svg {
    border: none;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .area { fill: $brand-primary; }

}

