@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "fontawesome/scss/font-awesome";

body.unauthenticated {

  background: #f7f7f7;
  padding-top: $navbar-height * 2;

  & > .container {
    @include box-shadow(0 3px 5px #999);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0 auto;
    padding: $grid-gutter-width;
    width: auto;
    width: 600px;

  }

}
